@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.header-container{
    width: 100%;
    height: fit-content;
    font-family: "Noto Serif", sans-serif;
    position: absolute;
    top: 0;
}

.logo{
    font-size: 40px;
    padding: 10px;
}